@model IEnumerable<Webbshop.Models.Category>
    
@{
    ViewBag.Title = "Index";

}





<div class="jumbotron">

    <h1>Built using Swedish technology</h1>
    <p> - Guaranteed success - </p>

</div>



<div class="container feautured ">
    <div class="row" id="products">
        <h2>Feautured Products</h2>
        <p id="date">Updated 2016-06-02</p>
        <hr class="fancy-line row" />
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/shirt1.jpg" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/shoes1.jpg" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/shoes2.jpg" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/shoes3.jpg" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/watch.jpg" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/products/watch1.gif" alt="...">
                <div class="caption">
                    <h3>Torstens shirt</h3>
                    <p>This shirt was designed by no one less than Torsten. This wonderful artpiece has become a status symbol worldwide.</p>
                    <p><a href="#" class="btn btn-danger center-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="fancy-line row" />

<div class="container test">
    <div class="col-md-12 top-grid">
        <h4>Why you should chose our store...</h4>
    </div>

    <div class="col-md-6 t1">
        <h5><span class="glyphicon glyphicon-bitcoin"></span>We use Bitcoin</h5>
        <p>We process payments using Bitcoin. This makes our store pretty unique comparing to other businesses in this category. Bitcoin is fast, safe and easy! If you need help to process a payment using Bitcoin, don't hesitate to contact us!</p>
    </div>
    <div class="col-md-6 t2">
        <h5> <span class="glyphicon glyphicon-certificate"></span> Cerfified products</h5>
        <p>When you buy our products you are always issued a certificate to prove your good is the real deal. If you have any damages on your product please bring your product together with the certificate for free and fast assistance.</p>
    </div>

    <div class="col-md-3 t3"><h5><span class="glyphicon glyphicon-comment"></span>Feedback</h5>
<p>Are you afraid how the product will look like in real life? Do you wanna know what other people think about a specific product? Our store provides the ability to comment on a specific product. Use it as guidence when deciding what to buy!</p></div>
    <div class="col-md-3 t4"><h5><span class="glyphicon glyphicon-ok-sign"></span>Payments</h5>
<p>We want you to feel safe when using our store. We intentionally made payments using several different methods possible. Paypal, Mastercard, Bitcoin... you name it!</p></div>
    <div class="col-md-3 t5"><h5><span class="glyphicon glyphicon-hourglass"></span>Delivery time</h5>
<p>Thanks to our close cooperation with UPS are products are delivered with speed! Products are always processed for shipping the next day! All to insure a fast delivery.</p></div>
    <div class="col-md-3 t6"><h5><span class="glyphicon glyphicon-plus"></span>And more...</h5>
<p>This store was recently opened which means are feautures are not in use right now. More feautures are planned to be released soon. Please hold on!</p></div>

</div>


    @*originalkoden*@

    <ul class="list group">
        @foreach (var category in Model)
        {
        <li class="list-grup-item"> @Html.ActionLink(category.Name, "Browse", new { id = category.Name })</li>
        }
    </ul>
